<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyHotel" connectionString="data source = LAPTOP-CUA-KHOA; database=MyHotel; integrated security=True" providerName="System.Data.SqlClient"/>
		<add name="Hotel" connectionString="data source = LAPTOP-CUA-KHOA; database=Hotel; integrated security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>